[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
flask-httpauth = "*"
flask-babel = "*"
flask-moment = "*"
flask-login = "*"
email-validator = "*"
aiosmtpd = "*"
elasticsearch = "*"
elastic-transport = "*"
defusedxml = "*"
dnspython = "*"
certifi = "*"
blinker = "*"
babel = "*"
attrs = "*"
atpublic = "*"
greenlet = "*"
pygments = "*"
pyjwt = "*"
pysocks = "*"
pytz = "*"
redis = "*"
requests = "*"
requests-toolbelt = "*"
urllib3 = "*"
rq = "*"
langdetect = "*"
jinja2 = "*"
itsdangerous = "*"
httpie = "*"
typing-extensions = "*"
gunicorn = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.12"
